footer {
    width: 100vh;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 50px;
    height: 50px;
    overflow: auto;
    margin-left: 30px;
    margin-right: 30px;
}