.mainAppBox {
    width: 100vh;
    height: 70vh;
    background: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

}